---
import AboutHeroImage from '../assets/about/me.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('July 26 2025')}
	heroImage={AboutHeroImage}
>
	<p>
		Hi, I'm Will! I'm a tech and machine learning enthusiast currently based in Raleigh, North Carolina.
	</p>

	<p>
		In my free time (which is often few and far in between), I enjoy writing and working on personal projects,
		which you'll find me posting about here.
	</p>

	<p>
		I first became interested in software when I was twelve years old, when I got my first laptop.
		Ever since then, favorite activities have been coding and tinkering, both with hardware and software.
	</p>

	<p>
		When I turned 14, I bought my first Mac. On that machine, I downloaded Xcode for the first time,
		and discovered an app called CreateML. So, naturally, I took loads of photos of my parents' cats and dogs, and trained
		a simple image classifier on that data. Once I had it working, I wrote a simple app which used the network to identify my pets!
		It wasn't particularly useful, but it kicked off a passion that has persisted in me since then.
	</p>

	<p>
		For a while, I didn't know what I wanted to do. All I knew was that I loved rockets, hardware and software.
		In April of 2024, I made the decision to start a startup with my brother and my cousin. We are in the process
		of building a general multi-agent system and writing a paper.
	</p>
</Layout>
